html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Or any color that contrasts well with the menu */
}

.d-flex {
    width: 100%;
    text-align: center;
}


body {
    font-family: 'Roboto', sans-serif;
}

.menu {
    position: fixed;
    left: -15%;
    width: 15%;
    height: 80%;
    background-color: rgba(0, 123, 255, 0.2); /* Semi-transparent blue to match the buttons */
    transition: left 0.5s;
    overflow-y: auto;
    border-radius: 10px;  /* Adds rounded corners */
    z-index: 1000; /* Ensure the menu is above other content */
    border: 2px solid transparent; /* Consistent with button styling */
    color: white; /* For text color */
}

.menu.open {
    left: 0;
    display: block;
}

#menu img {
    width: 80%;  /* Resize images to be 80% of the width of their parent container */
    height: auto;  /* Maintain the aspect ratio of the images */
    display: block;  /* Display images as block-level elements */
    margin: 10px auto 5px; /* Reduce bottom margin */
    background-color: transparent; /* Ensure the image background is transparent */
    border-radius: 10px; /* Adjust this value to control the corner roundness */
}

.menu-item-container {
    text-align: center;
    margin-bottom: 20px; /* Add space between items */
}

.menu-item-title {
    font-size: 14px; /* Adjust size as needed */
    color: white; /* Set text color */
    margin-top: 2px; /* Space between the image and the title */
}

.controls {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#lectureImage {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%; /* Move the left edge to the center */
    transform: translateX(-50%); /* Center the image horizontally */
}

/* Style for navigation buttons */
.btn.nav-btn {
    background-color: rgba(0, 123, 255, 0.35); /* Semi-transparent blue with 35% opacity */
    color: white; /* White color for icons */
    border: 2px solid transparent; /* Transparent border to maintain size */
    padding: 5px 10px; /* Reduced padding */
    font-size: 12px; /* Smaller font size for icons */
}

.btn.nav-btn:focus {
    outline: none; /* Remove default focus outline */
    border: 2px solid #ffffff; /* Change border color on focus */
}

/* Style for Lessons and Chat buttons */
#lessonsButton, #chatButton {
    background-color: rgba(0, 123, 255, 0.35); /* Semi-transparent blue with 35% opacity */
    color: white; /* White text color */
    border: 2px solid transparent; /* Transparent border to maintain size */
    padding: 5px 10px; /* Reduced padding */
    font-size: 14px; /* Adjust font size as needed */
}

#speakerButton {
    background-color: rgba(0, 123, 255, 0.35); /* Semi-transparent blue with 35% opacity */
    color: white; /* White icon color */
    border: 2px solid transparent; /* Transparent border to maintain size */
    padding: 5px 10px; /* Consistent padding with other buttons */
}

#homeButton:focus, #lessonsButton:focus, #chatButton:focus, #speakerButton:focus {
    outline: none; /* Remove default focus outline */
    border: 2px solid #ffffff; /* White border on focus */
}