<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Question Explanation</title>
    <link href="/static/css/css2.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico" />
</head>

<body>
    <div class="header">
        <h1>Admin Dashboard</h1>
        <p>Manage user accounts, settings, and more.</p>
    </div>

    <div>
        <h2>User Management</h2>
        <!-- Add your user management interface here -->
        <p>Interface to add, edit, or delete user accounts.</p>
    </div>

    <div>
        <h2>System Settings</h2>
        <!-- Add settings management interface here -->
        <p>Adjust system-wide settings.</p>
    </div>

    
</body>
</html>